# Byte-compiled / distribution
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Mac
.DS_Store

# Data
data/raw/
data/processed/

.env
